# ------------------------------------------------------------------------------------------------------------------------------
# APPLICATION CONFIG
# ------------------------------------------------------------------------------------------------------------------------------
APP_NAME=plrsys
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

# ------------------------------------------------------------------------------------------------------------------------------
# DATABASE CONFIG
# ------------------------------------------------------------------------------------------------------------------------------
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_DATABASE=plrsys-dev
DB_USERNAME=plrsys-dev
DB_PASSWORD=secret


# ------------------------------------------------------------------------------------------------------------------------------
# MAILER CONFIG
# ------------------------------------------------------------------------------------------------------------------------------
SMTP_HOST=mail.example.com
SMTP_PORT=587
SMTP_USERNAME=mail@example.com
SMTP_PASSWORD=secret
SMTP_ENCRYPTION=tls


# ------------------------------------------------------------------------------------------------------------------------------
# OTHER CONFIG
# ------------------------------------------------------------------------------------------------------------------------------
BOT_API_TOKEN=some_long_random_secret

DISCORD_CLIENT_ID=your_client_id
DISCORD_CLIENT_SECRET=your_client_secret
DISCORD_REDIRECT_URI=https://innerspace.sarxzer.xyz/settings/discord/callback

RELEASE_SERVER_HOST=skynet
RELEASE_SERVER_USER=plrsys
RELEASE_SERVER_PATH=/var/www/plrsys
RELEASE_GIT_BRANCH=main
RELEASE_PHP_FPM_SERVICE=php8.4-fpm