// =====================
// _typography.scss
// plrsys – type system
// =====================

@use 'variables' as *;

@font-face {
    font-family: "Press Start 2P";
    src: url("/assets/fonts/PressStart2P.ttf");
}

@font-face {
    font-family: "VT323";
    src: url("/assets/fonts/VT323.ttf");
}

body {
    font-family: $font-retro;
    font-size: 18px;
    color: $color-text-main;
    line-height: 1.5;
}

h1,
.title-pixel {
    font-family: $font-pixel;
    font-size: 14px;
    color: $color-text-main;
    text-shadow: 2px 2px 0 $shadow-dark;
    line-height: 1.6;
}

h2,
.section-title {
    font-family: $font-pixel;
    font-size: 10px;
    color: $color-text-muted;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.meta-label {
    font-size: 14px;
    color: $color-text-muted;
    display: block;
    margin-bottom: 2px;
}

.meta-value {
    font-size: 20px;
    color: $color-text-main;
}
